.btn {
  @apply inline-block rounded border border-primary px-5 py-2 text-center text-[.9rem] disabled:pointer-events-none disabled:cursor-not-allowed disabled:border-gray-600 disabled:bg-gradient-to-r disabled:from-gray-500 disabled:to-gray-500;
}

.btn-sm {
  @apply px-3 py-2 text-sm;
}

.btn-badge {
  @apply ml-2 rounded bg-[#dce9e9] px-[.3rem] py-[.15rem] text-xs dark:bg-darkmode-theme-light;
}

.btn-primary {
  @apply bg-gradient-to-r from-primary to-secondary text-white;
  .btn-badge {
    @apply border-primary bg-primary text-white;
  }
}

.btn-outline-primary {
  @apply border border-primary/25 bg-transparent from-primary to-secondary hover:bg-gradient-to-r hover:text-white;
  &:hover .btn-badge {
    @apply border-primary bg-primary text-white;
  }
}

.btn-demo {
  @apply border border-primary/25 from-primary to-secondary text-primary hover:bg-gradient-to-r hover:text-white dark:text-darkmode-primary;
  @apply dark:text-white;
}

.btn-download {
  @apply border border-primary/25 bg-primary/[.1] from-primary to-secondary text-primary  hover:bg-gradient-to-r hover:text-white dark:text-darkmode-primary;
  @apply dark:bg-dark/[.1] dark:text-white;
}

.btn-github {
  @apply border border-[#151b22] bg-[#151b22] text-white dark:bg-darkmode-theme-light;
}

.btn-loading {
  @apply relative pr-12;
  &::after {
    @apply absolute right-[1em] top-2.5 h-[1.5em] w-[1.5em] rounded-full border-[4px] content-[""];
    border-color: #fff transparent #fff transparent;
    animation: loading 1.2s infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
