.btn {
  @apply inline-block rounded border-primary px-5 py-2 text-center text-[.9rem];
}

.btn-sm {
  @apply px-3 py-2 text-sm;
}

.btn-primary {
  @apply bg-gradient-to-r from-primary to-secondary text-white;
}

.btn-outline-primary {
  @apply btn-sm border border-primary/25 bg-transparent from-primary to-secondary hover:bg-gradient-to-r hover:text-white;
}

.btn-follow {
  @apply ml-3 rounded-full bg-[#2aa1f2] px-3 py-1 text-center text-xs text-white transition hover:bg-[#248fdb] sm:ml-5;
}

.btn-demo {
  @apply border border-primary/25 from-primary to-secondary text-primary hover:bg-gradient-to-r hover:text-white;
  @apply dark:text-white;
}

.btn-download {
  @apply border border-primary/25 bg-primary/[.1] from-primary to-secondary text-primary hover:bg-gradient-to-r hover:text-white;
  @apply dark:bg-dark/[.1] dark:text-white;
}

.btn-fill {
  @apply bg-gradient-to-r from-primary to-secondary text-white;
}
