// theme switcher
.theme-switcher {
  @apply relative inline-flex cursor-pointer items-center justify-center rounded-full bg-gray-100 text-dark dark:bg-[#18232c] dark:text-white;
  height: 28px;
  width: 52px;
  &::after {
    @apply absolute z-10 h-[18px] w-[18px] rounded-full bg-white content-[''] dark:bg-darkmode-body;
    transition: 50ms cubic-bezier(0.77, 0, 0.18, 1);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23848484' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6 6' style='enable-background:new 0 0 6 6;' xml:space='preserve'%3E%3Cpath d='M5.5,6C5.2,6,5,5.8,5,5.5v-5C5,0.2,5.2,0,5.5,0S6,0.2,6,0.5v5C6,5.8,5.8,6,5.5,6z M0.5,6C0.2,6,0,5.8,0,5.5v-5 C0,0.2,0.2,0,0.5,0S1,0.2,1,0.5v5C1,5.8,0.8,6,0.5,6z'/%3E%3C/svg%3E");
    background-size: 6px 6px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .sun {
    @apply mr-[4px];
  }
  .moon {
    @apply -translate-y-[0.03rem];
  }
}
.dark .theme-switcher::after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23a3a3a3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6 6' style='enable-background:new 0 0 6 6;' xml:space='preserve'%3E%3Cpath d='M5.5,6C5.2,6,5,5.8,5,5.5v-5C5,0.2,5.2,0,5.5,0S6,0.2,6,0.5v5C6,5.8,5.8,6,5.5,6z M0.5,6C0.2,6,0,5.8,0,5.5v-5 C0,0.2,0.2,0,0.5,0S1,0.2,1,0.5v5C1,5.8,0.8,6,0.5,6z'/%3E%3C/svg%3E");
}

// section style
.section {
  @apply py-16;
}
.container {
  @apply px-4 md:px-8;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-2;
  li {
    @apply inline-block;
    a {
      @apply block h-9 w-9 text-center text-white;
      svg {
        @apply m-auto h-9;
      }
    }
  }
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose max-w-none prose-headings:font-bold prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:mb-4 prose-h6:mb-6 prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:py-1 prose-blockquote:px-4 dark:prose-invert md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3;
}

// sidebar
.sidebar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      @apply bg-[#f1f1f1] dark:bg-[#2a353f];
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-[#bbb] dark:bg-[#032020];
    }
  }

  @apply fixed top-[64px] z-50 flex h-[calc(100vh-64px)] w-[300px] max-w-[98%] -translate-x-full select-none flex-col overflow-y-auto bg-theme-light p-6 dark:bg-[#2a353f] lg:sticky lg:translate-x-0 xl:w-[330px];
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.show {
    @apply translate-x-0;
  }
}

// sidebar-toggler
.sidebar-toggler {
  border: 1px solid #f6f6f6;
  @apply dark:border-darkmode-theme-light;
  border-radius: 8px;
  &.fixed {
    @apply top-0 z-[101];
  }
  .sidebar-toggle-icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.4s;
    user-select: none;
    .top {
      stroke-dasharray: 40 121;
    }
    .bottom {
      stroke-dasharray: 40 121;
    }
    .line {
      fill: none;
      transition: stroke-dasharray 0.4s, stroke-dashoffset 0.4s;
      stroke: #333333;
      @apply dark:stroke-white;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
    &.active {
      transform: rotate(45deg);
      .top {
        stroke-dashoffset: -68px;
      }
      .bottom {
        stroke-dashoffset: -68px;
      }
    }
  }
}

// sidebar-overlay
.sidebar-overlay {
  @apply pointer-events-none invisible fixed top-[64px] left-0 z-20 h-full w-full bg-black opacity-0 transition-all duration-300;
  &.show {
    @apply pointer-events-auto visible opacity-40;
  }
}

// wrrapper
.main {
  @apply flex-1 py-10 px-0 lg:pl-4;
}

// image cover
.img-cover {
  @apply leading-none;
  img {
    @apply w-full object-cover;
  }
}

// theme card
.theme-card {
  @apply flex h-full flex-col rounded bg-white shadow dark:bg-[#2a353f];
  &:hover .theme-card-preview {
    @apply visible opacity-100;
    svg {
      @apply scale-100;
    }
  }
  &-body {
    @apply p-4;
  }
  &-footer {
    @apply mt-auto flex items-center px-4 pb-2;
  }
}

// intro text slider
.Typewriter {
  @apply inline-block;
}

.text-gradient {
  background: linear-gradient(to right, #059669 0%, #64b3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// CSS tooltip
.has-tooltip {
  position: relative;
  display: inline-block;
  .tooltip-label {
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 1;
    pointer-events: none;
    width: max-content;
    max-width: 160px;
    z-index: 9999999;
    @apply dark:bg-primary;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
      z-index: 9999999;
      @apply dark:border-t-primary;
    }
  }
  &:hover .tooltip-label {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }
  &.tooltip-bottom {
    .tooltip-label {
      bottom: unset;
      top: calc(100% + 5px);
      &::after {
        top: unset;
        bottom: 100%;
        border-color: transparent transparent black transparent;
        @apply dark:border-b-primary;
      }
    }
  }
}
.has-tooltip-static {
  position: relative;
  display: inline-block;
  .tooltip-label-static {
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: calc(100% + 5px);
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 1;
    pointer-events: none;
    width: max-content;
    max-width: 160px;
    z-index: 9999999;
    @apply dark:bg-primary;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
      z-index: 9999999;
      @apply dark:border-t-primary;
    }
    p {
      font-size: 90%;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
  &:hover .tooltip-label-static {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }
}

.meta-list {
  li {
    @apply mr-4 inline-flex items-center;

    a {
      @apply text-inherit hover:underline;
    }
    svg {
      @apply mr-1 text-primary;
    }
  }
}

// subscription form
.subcription-form {
  @apply h-full rounded border-4 border-primary p-4 text-center;
  input {
    @apply mb-3 h-10 w-full rounded border-border focus:border-primary focus:ring-0;
  }
  button {
    @apply mb-3 h-10 w-full rounded bg-primary text-white;
  }
}

// widget
.widget {
  @apply mb-[40px] rounded-[4px] pl-[30px];
  @media (max-width: 1023px) {
    padding: 0;
  }
}

// browser preview style
.bwsBlock {
  @apply mx-auto w-full overflow-hidden rounded-md;
  transition: 0.2s ease all;
  box-shadow: 5px 15px 30px rgba(17, 35, 56, 0.1);
  &:hover {
    box-shadow: 5px 20px 35px rgba(17, 35, 56, 0.2);
  }
}
.bwsMobile {
  width: 360px;
  iframe {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
  }
}

.bwsBlock .bwsContent {
  @apply relative h-[600px] overflow-hidden;
  box-shadow: inset 0 0 10px #eee;
  @media (max-width: 1279px) {
    @apply h-[500px];
  }
}

.bwsBlock iframe {
  @apply h-[885px] w-[1270px] border-none;
  transform: scale(0.677);
  transform-origin: 0 0;

  // xxl
  @media (max-width: 1535px) {
    @apply h-[908px] w-[1214px];
    transform: scale(0.66);
  }

  // lg
  @media (max-width: 1279px) {
    @apply h-[999px] w-[1265px];
    transform: scale(0.5);
  }

  // desktop
  @media (max-width: 1023px) {
    @apply h-[908px] w-[1280px];
    transform: scale(0.55);
  }
}

.bwsHeader {
  @apply relative bg-[#f5e1a2];
  padding: 5px 8px;
  border-radius: 4px 4px 0 0;
  transition: 0.1s ease;
}
.livePreviwLoaded {
  background: #d3f198;
}
.bwsHeader::before {
  background: #ffbd2d;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 12px;
  left: 1.5rem;
  top: 0px;
  position: relative;
  width: 12px;
  box-shadow: -20px 0 0 #ff5f57, 20px 0 0 #29c940;
}

.bwsThumbnail img {
  @apply h-full w-full object-cover;
}

.bwsThumbnailStyle {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaderLabel {
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
  text-align: center;
  margin-top: 2px;
  font-size: 14px;
  z-index: 5;
  transition: 0.3s ease;
  font-weight: 500;
  @apply dark:text-dark;
}
.loaderLabelIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1 !important;
  height: 16px;
  width: 16px;
  animation: rotating 1s linear infinite;
  position: relative;
  top: 1px;
  left: -3px;
}

.bwsActions {
  float: right;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  transform: translateX(30px);
}
.bwsActionLink {
  border: 1px solid #dcdcdc;
  text-decoration: none;
  color: #2a2a2a;
  font-size: 80%;
  border-radius: 3px;
  padding: 2px 5px;
  display: inline-block;
  height: 24px;
  line-height: 18px;
  background: #fff;
  transform: translateY(1px) translateX(3px);
  @apply flex content-center items-center;

  &:hover {
    @apply bg-white text-primary;
  }
}
.addElement {
  background: #ececec;
  transition-delay: 0.1s;
}
.bwsActionsShow {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.25s;
}
.loaderLabelHide {
  right: 30px;
  opacity: 0;
  visibility: hidden;
}
.bws-device-toggle {
  margin-bottom: 50px;
  position: relative;
  z-index: 55;
  button {
    background: transparent;
    border: 1px solid #ddd;
    @apply dark:border-[#4e5d68];
    height: 45px;
    width: 60px;
    border-radius: 4px;
    margin: 0 3px;
    transition: 0.3s;
    &:focus {
      border-color: #000;
      @apply dark:border-white;
    }
  }
}

// scroll-to-position
.scroll-to-position {
  @apply fixed;
  bottom: 20px;
  right: 0;
  z-index: 9999;
  transition: 0.2s;
  opacity: 0;
  &.visible {
    @apply right-[10px] opacity-100 sm:right-[32px];
  }
  button {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 2px 8px 25px -4px rgba(#2a2e2e, 0.6);
    @apply flex hidden content-center items-center border-0 bg-gradient-to-r from-primary to-secondary text-white outline-none;
    &.show {
      @apply block;
    }
    svg {
      @apply inline;
    }
  }
}
// feedback-block
.feedback-block {
  zoom: 0.85;
  .frf-trigger-button {
    transition: 0.2s;
  }
  &.visible .frf-trigger-button {
    @apply mr-[25px] sm:mr-[55px];
    padding-top: 13px;
    padding-bottom: 10px;
    padding-right: 24px;
  }
}

// sidebar accordion item
.filter-list {
  @apply relative mb-1 flex cursor-pointer rounded py-2 pl-2 pr-3 text-sm text-dark hover:bg-white dark:text-white dark:hover:bg-[#3a4751];
  &::before {
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 16px;
    width: 16px;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  &:hover::before {
    @apply border-dark dark:border-light;
  }
  &.active {
    @apply bg-white dark:bg-[#3a4751];
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23059669' d='M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z' class=''%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      @apply border-primary dark:border-darkmode-primary;
    }
  }
}
.dark {
  .filter-list {
    &.active::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2345D19E' d='M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z' class=''%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

// category list
.category-list {
  li {
    @apply mr-3 mb-3 inline-block cursor-pointer select-none rounded border border-border py-[.3rem] pl-3 pr-2 text-[.8rem] text-dark last:mr-0 dark:border-darkmode-theme-light dark:text-darkmode-text;
    span {
      @apply ml-2 rounded bg-[#dce9e9] px-[.3rem] py-[.15rem] text-xs dark:bg-darkmode-theme-light;
    }
    &.active {
      // @apply border-transparent bg-gradient-to-r from-primary to-secondary text-white;
      @apply border-primary bg-primary text-white;
      span {
        @apply bg-dark/[.15] text-white;
      }
    }
  }
}
.infinite-scroll-component {
  @apply overflow-hidden;
}

// sort dropdown
.sort-dropdown {
  @apply relative mt-1 inline-block whitespace-nowrap text-[.8rem];
  &-input {
    @apply ml-2 cursor-pointer rounded border border-border py-[.3rem] px-3 dark:border-darkmode-theme-light;
  }
  &-buttons {
    @apply absolute top-8 right-0 z-50 hidden w-full rounded bg-white p-3 shadow dark:bg-darkmode-theme-dark;
    button {
      @apply block w-full rounded py-1 px-2 text-left;
      &:hover {
        @apply bg-theme-light dark:hover:bg-white/[.1];
      }
      &.active {
        @apply bg-primary/[.1] text-primary dark:bg-darkmode-theme-light dark:text-darkmode-primary;
        &:hover {
          @apply dark:bg-darkmode-theme-light;
        }
      }
    }
    &.show {
      @apply block;
    }
  }
}

// demo previewer
.demo-switcher {
  @apply inline-block space-x-1 rounded border border-primary/50 bg-theme-light text-[1.45rem] leading-none dark:bg-theme-dark;
  button {
    @apply rounded px-2 py-[.3rem];
    &.active {
      @apply bg-primary text-white;
    }
  }
}

.demo-wrapper {
  @apply flex items-center justify-center bg-theme-light transition-all dark:bg-theme-dark;
  iframe {
    @apply my-0 mx-auto h-full w-full rounded-[inherit] border-0 shadow-none;
  }
}

.demo-content {
  @apply relative mx-auto h-full w-full overflow-hidden border-white bg-white transition-all duration-500 dark:border-dark dark:bg-darkmode-theme-light;
  &.tablet {
    @apply mt-[-15px] h-[1024px] max-h-[calc(100vh-130px)] w-[768px] rounded-lg border-[15px] border-white shadow dark:border-darkmode-theme-light;
  }
  &.mobile {
    @apply mt-[-10px] h-[740px] max-h-[calc(100vh-120px)] w-[375px] rounded-lg border-[10px] border-white shadow dark:border-darkmode-theme-light;
  }
}

// cookie bar
.cookieBar {
  @apply fixed left-[20px] bottom-[20px] z-[999999999] mt-[20px] flex content-between items-center rounded-[0.25rem] bg-white py-[15px] px-[20px] dark:bg-darkmode-theme-light;
  box-shadow: rgb(12 20 66 / 3%) 0px 1px 3px, rgb(12 20 66 / 4%) 0px 8px 16px,
    rgb(12 20 66 / 4%) 0px 16px 40px;
}

.cookieBarContent {
  @apply flex items-center;
}

.cookieBarBtn {
  @apply ml-[15px] cursor-pointer rounded-[5px] border-none bg-[#edf0f3] py-[5px] px-[10px] dark:bg-theme-dark;
  font-size: 13px;
}

// bookmark bar
.bookmarkBar {
  @apply invisible fixed content-between bg-white dark:bg-darkmode-theme-light dark:text-white md:visible;
  padding: 5px 20px 5px 7px;
  left: 20px;
  bottom: 20px;
  z-index: 9999999;
  border-radius: 0.25rem;
  margin-right: 20px;
  box-shadow: rgb(12 20 66 / 3%) 0px 1px 3px, rgb(12 20 66 / 4%) 0px 8px 16px,
    rgb(12 20 66 / 4%) 0px 16px 40px;
  display: flex;
  align-items: center;
  display: none;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.27);
  transform-origin: bottom left;
  &:hover {
    .bookmarkText {
      visibility: hidden;
      opacity: 0;
    }
    .bookmarkTextHover {
      visibility: visible;
      opacity: 1;
    }
    .bookmarkClose {
      transform: scale(1);
    }
  }
}

.bookmarkIcon {
  background-color: #f4f7f7;
  @apply dark:bg-darkmode-border;
  border-radius: 0.25rem;
  padding: 9px 5px 7px 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarkClose {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #fff;
  box-shadow: 0 5px 16px #eee;
  @apply dark:bg-darkmode-border;
  border-radius: 50%;
  height: 20px;
  text-align: center;
  width: 20px;
  line-height: 15px !important;
  transform: scale(0);
  transition: 0.2s ease;
}
.dark .bookmarkClose {
  box-shadow: 0 5px 16px #333;
}

.sort-sidebar-buttons {
  @apply hidden;
  &.show {
    @apply block;
  }
  button {
    @apply relative mb-1 flex w-full cursor-pointer rounded py-2 pl-2 pr-3 text-sm text-dark hover:bg-white dark:hover:bg-[#3a4751];
    &::before {
      @apply absolute right-3 top-3 h-3 w-3 rounded-full;
      box-shadow: 0 0 0 2px #059668a8;
      content: "";
    }
    &.active {
      @apply bg-white dark:bg-[#3a4751];
      &::before {
        @apply border-2 border-white bg-primary dark:border-darkmode-body;
        box-shadow: 0 0 0 2px #059668;
      }
    }
  }
}
