// navbar toggler
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

// header
.header {
  @apply sticky top-0 z-40 w-full border-b border-border bg-white dark:border-darkmode-border dark:bg-darkmode-body;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center px-3 py-3 sm:px-8 lg:justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

.nav-item {
  @apply mx-3;
}

.nav-link {
  @apply px-2 py-1 text-dark transition hover:text-primary dark:text-white dark:hover:text-darkmode-primary;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white p-4 shadow transition;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply min-w-[150px] py-1 text-lg font-semibold text-dark transition hover:text-primary;
}
