@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("base");
}

@layer components {
  @include meta.load-css("components");
  @include meta.load-css("navigation");
  @include meta.load-css("buttons");
}

@layer utilities {
  @include meta.load-css("utilities");
}

.select__input-container input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  text-align: left !important;
}
