b,
strong {
  @apply font-semibold;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  @apply inline;
}

.shadow {
  box-shadow: 0 2px 15px -4px #e9e9e9;
}

.shadow-lg {
  box-shadow: 4px 4px 20px 6px rgb(0 0 0 / 10%);
}

.dark {
  .shadow {
    box-shadow: 0 2px 15px -4px #222;
  }
  .shadow-lg {
    box-shadow: 4px 4px 20px 6px rgb(0 0 0 / 90%);
  }
}

.svg-align-bottom svg {
  @apply align-bottom;
}

.svg-block svg {
  @apply block;
}

.bg-linear-gradient {
  background-image: linear-gradient(
    190deg,
    #638def 0%,
    #31aea4 71%,
    #31aea4 81%,
    #07a79d 100%
  );
}

.disabled {
  @apply bg-theme-light/5 opacity-60 dark:bg-darkmode-dark/5;
}

.flex-fill {
  @apply flex-[1_1_auto];
}
