b,
strong {
  @apply font-semibold;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  @apply inline;
}

.shadow {
  box-shadow: 0 2px 15px -4px #e9e9e9;
}

.shadow-lg {
  box-shadow: 4px 4px 20px 6px rgb(0 0 0 / 10%);
}

.dark {
  .shadow {
    box-shadow: 0 2px 15px -4px #222;
  }
  .shadow-lg {
    box-shadow: 4px 4px 20px 6px rgb(0 0 0 / 90%);
  }
}

.svg-align-bottom svg {
  @apply align-bottom;
}

.svg-block svg {
  @apply block;
}
